body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.button {
    margin-top: 25px;
    background: none;
    background-color: blue;
    width: 100%;
    color: white;
    border:0;
    height: 50px;
    font-size: 2em;
    font-weight: bold;
    text-transform: capitalize;
}

.scoreTable {
    font-size: 10em;
    text-align: center;
}

.scoreTable span#blue {
    color: blue;
}

.scoreTable span#red {
    color: red;
}

.navbar-inverse {
    color: white;
    /* fallback */
  background-color: blue;
  
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(blue), to(red));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, blue, red);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, blue, red);

  /* IE 10 */
  background: -ms-linear-gradient(left, blue, red);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, blue, red); 
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: white;
}

#temp {
    color: white;
    font-weight: bold;
    float: right;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}